/******************************Hero Section****************/
#hero-section{
    background-image:url(../img/hero.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#hero-section::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #4133326f;
    height: 100vh;
    z-index: -1;
}

#hero-logo{
    width: 256px;
}