/******************************Hero Section****************/
#hero-section{
    background-image:url(../img/hero.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#hero-section::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #41333240;
    height: 100vh;
    
}

#hero-logo{
    width: 256px;
}

#arrow-down{
    position: absolute;
    bottom: 64px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 64px;
}