body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


/******************************Header Section****************/
header{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

}
#header-logo{
    height: 20px;
}
header a {
    color: white;
    margin-left: 24px;
}
header a:hover{
    color: #f0e0e082;
}

#menu-icon{
    width: 32px;
}

.solid-header{
    position: fixed;
    background-color:#121212;
    transition: background-color 0.4s ease-in;
}



/******************************Hero Section****************/
#hero-section{
    background-image:url(../img/hero.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    z-index: 1;
}

#hero-section::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #3c2b2bb8;
    height: 100vh;
    z-index: 0;
    
}

#hero-logo{
    width: 256px;
}

#arrow-down{
    position: absolute;
    bottom: 64px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 64px;
}
#white-text{
    z-index: 1;
}

/******************************Intro Section****************/

#intro-section{
    background: #eae7de;
}
.intro-icon{
    width: 96px;
}

.intro-icon:hover{
    transform: scale(1.1);
}
/******************************About Section****************/
#about-bg-1{
    background-image: url(../../V2/img/great-place.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: right;
    min-height: 480px;
}
#about-bg-2{
    background-image: url(../../V2/img/fresh-beans.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: left;
    min-height: 640px;
    position: relative;
}
@media(max-width:768px){
    #about-bg-2::before{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #00000040;
        
       
    }
}

#about-section button{
    margin-left: 30%;
} 
/******************************Menu Section****************/

#menu-section{
    background: #645e5e40;
    background-size:cover;
}

/******************************Contact Section****************/
#contact-info-bg-1{
    background:linear-gradient(to right, #36313782, #36313782), url(../img/contact-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
#contact-info-bg-2{
    background-color: #00000082;
}
/******************************Map Section****************/

/******************************Footer Section****************/

footer{
    background-color: #080605;
}

footer a img{
    width: 32px;
}
@media(max-width:768px){
    footer{
        text-align: center;
    }
    #social-icons{
        text-align: center !important;
    }
}

/******************************Mobile menu****************/
#mobile-menu{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000e8;
    z-index: 2;

    display: none;
}
#mobile-menu a {
    color: white;
}
#mobile-menu a:hover {
    color: rgb(210, 200, 200);
}

#close-btn{
    position: absolute;
    right: 29px ;
    top: 12px;
    width: 36px;
}


